.overview-cover {
    padding: 0 2em 2em 0;
}

.overview-cover a {
    text-decoration: none;
    border: 0;
    transition: all ease 200ms;
    transform-origin: 50% 50%;
}
.overview-cover a.hover,
.overview-cover a:hover {
    border-bottom: 0 !important;
    z-index: 1000;
    transform: scale(1.1,1.1);
}

.overview-cover img {
    width: 300px;
}

.overview-cover.hover h3,
.overview-cover:hover h3 {
    color: red;
}

.overview-cover h3 {
    font-size: 1em;
    margin: 0.5em 0;
    transition: all ease 200ms;
}

.overview-cover .labels {
    font-size: .75em;
    color: #BBB;
}
